<!DOCTYPE html>
<html ng-app='shoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Template Expanding Directive</h1>
    <!-- #List 1 -->
    <div id="list1" ng-controller='ShoppingListController1 as list'>
      <h3>Shopping List1</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="item Quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
      </ol>
      <div ng-show="list.errorMessage" class="error">Error:{{list.errorMessage}}</div>
    </div>
    <!-- List #2 -->
    <div id="list2" ng-controller="ShoppingListController2 as list">
      <h3>Shopping List2</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="item Quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
      </ol>
      <div ng-show="list.errorMessage" class="error">Error:{{list.errorMessage}}</div>
    </div>
  </body>
</html>
